@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.flight-search-engine {
    padding: 20px;

    .fse-header {
        padding: 15px 0 25px 15px;
        font-size: 24px;
    }

    .fse-body {
        padding: 20px;
        display: flex;
        background-color: #ebebeb;
        @media only screen and (max-width: 991px) {
            display: block;
        }

        .fse-criteria {
            width: 30%;
            padding: 20px;
            background-color: #FFF;
            -webkit-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.50);
            -moz-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.50);
            box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.50);
            @media only screen and (max-width: 991px) {
                width: auto;
                margin-bottom: 20px;
            }
            .mat-raised-button{
                background-color: #0071cd;
                padding-top: 10px;
                padding-bottom: 10px;
                text-transform: uppercase;
                font-size: 18px;
                color: #FFF;
            }
            .searh-panel {
                display: flex;
                flex-direction: column;
                padding: 10px 0;
            }

            .refine-flight-search {
                padding: 10px;
                margin-top: 20px;
                .refine-title{
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                .mat-slider-horizontal{
                    min-width: 100%;
                }
            }
        }

        .fse-results {
            width: 70%;
            padding: 0 0 0 20px;
            background-color: #ebebeb;
            @media only screen and (max-width: 991px) {
                width: auto;
                display: block;
                padding: 0;
            }

            .flight-results-header {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #FFF;

                .flight-results-header-title {
                    font-size: 20px;
                }

                .flight-results-header-schedule {
                    font-size: 12px;
                }
            }

            .flight-results-body {
                display: flex;
                flex-direction: column;
                margin-top: 10px;

                .flight {
                    display: flex;
                    background-color: #FFF;
                    -webkit-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.50);
                    -moz-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.50);
                    box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.50);
                    padding-bottom: 10px;

                    .mat-raised-button{
                        background-color: #0071cd;
                    }

                    &:not(:first-child) {
                        border-top: 2px solid #f5f4f7;
                    }

                    @media only screen and (max-width: 480px) {
                        flex-direction: column;
                    }

                    .flight-details {
                        width: 70%;
                        padding: 20px;

                        @media only screen and (max-width: 480px) {
                            width: auto;
                        }

                        .flight-amount {
                            font-size: 20px;
                            margin-bottom: 10px;
                            color: #2f3133;
                            font-weight: 700;
                        }
                        .flight-directions{
                            color: #808283;
                        }

                        .flight-directions {
                            display: flex;
                            justify-content: space-between;

                            .flight-number {
                                font-size: 13px;
                                margin-bottom: 5px;
                                color: #0071cd;
                            }

                            .flight-timing {
                                .timing-value {
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .flight-booking {
                        width: 30%;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        padding-right: 20px;

                        @media only screen and (max-width: 480px) {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}
