<div class="flight-search-engine">
    <div class="fse-header">Flight Search Engine</div>
    <div class="fse-body">
        <div class="fse-criteria">
            <mat-tab-group>
                <mat-tab label="One way">
                    <ng-container *ngTemplateOutlet="searchTpl"></ng-container>
                </mat-tab>
                <mat-tab label="Return">
                    <ng-container *ngTemplateOutlet="searchTpl"></ng-container>
                </mat-tab>
            </mat-tab-group>

            <mat-slider min="1000" max="10000" step="1" value="2000"></mat-slider>
        </div>
        <div class="fse-results">
            <div class="flight-results-header">
                <div class="flight-results-header-title">
                    Pune > Delhi > Pune
                </div>
                <div class="flight-results-header-schedule">
                    <div class="depart" *ngIf="flightSearchForm && flightSearchForm.get('departureDate') && flightSearchForm.get('departureDate').value">
                        <span class="label">Depart: </span>
                        <span class="value">{{flightSearchForm.get('departureDate').value | date: 'dd-MMM-y'}}</span>
                    </div>
                    <div class="return" *ngIf="flightSearchForm && flightSearchForm.get('departureDate') && flightSearchForm.get('returnDate').value">
                        <span class="label">Return: </span>
                        <span class="value">{{flightSearchForm.get('returnDate').value}}</span>
                    </div>
                </div>
            </div>
            <div class="flight-results-body">
                <div class="flight" *ngFor="let flight of flightList">
                    <div class="flight-details">
                        <ng-container *ngTemplateOutlet="flightsTpl; context: { data: flight }"></ng-container>
                    </div>
                    <div class="flight-booking">
                        <button mat-raised-button color="primary">Book this Flight</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #searchTpl>
    <div class="searh-panel" [formGroup]="flightSearchForm">
        <mat-form-field>
            <input matInput placeholder="Enter Origin City" formControlName="originCity">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Enter Destination City" formControlName="destinationCity">
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="departureDate" placeholder="Departure date"
                formControlName="departureDate">
            <mat-datepicker-toggle matSuffix [for]="departureDate"></mat-datepicker-toggle>
            <mat-datepicker #departureDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="returnDate" placeholder="Return date" formControlName="returnDate">
            <mat-datepicker-toggle matSuffix [for]="returnDate"></mat-datepicker-toggle>
            <mat-datepicker #returnDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Passengers</mat-label>
            <mat-select formControlName="passenger">
                <mat-option *ngFor="let passenger of passengerList" [value]="passenger.name">
                    {{passenger.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="accent">Search</button>
    </div>
</ng-template>

<ng-template #flightsTpl let-flight="data">
    <div class="flight-amount">
        {{flight.amount}}
        <!-- Rs 9,500.00 -->
    </div>
    <div class="flight-directions">
        <ng-container *ngTemplateOutlet="flightDetails; context: { data: flight }"></ng-container>
        <ng-container *ngTemplateOutlet="flightDetails; context: { data: flight }"></ng-container>
    </div>
</ng-template>

<ng-template #flightDetails let-flight="data">
    <div class="flight-oneway">
        <div class="flight-number">
            {{flight.number}}
        </div>
        <div class="flight-direction">
            {{flight.depart}} > {{flight.arrive}}
        </div>
        <div class="flight-timing">
            <span class="timing-label">Depart: </span>
            <span class="timing-value">{{flight.departDateTime | date: 'h:mm a'}}</span>
        </div>
        <div class="flight-timing">
            <span class="timing-label">Arrive: </span>
            <span class="timing-value">{{flight.arriveDateTime | date: 'h:mm a'}}</span>
        </div>
    </div>
</ng-template>